<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redis</title>
</head>
<body>
  <h1>Add user page</h1>
  <form action="/users/update/<%=id%>" method="POST">
    <label>Name :</label>
    <input type="text" name="name" placeholder="Enter Name">
    <label>Email :</label>
    <input type="email" name="email" placeholder="Enter email">
    <label>Phone no:</label>
    <input type="tel" name="phone" placeholder="Enter Phone No.">
    <input type="submit" value="Submit">
  </form>
</body>
</html>